<html>
<head>
	<title>car</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body>
	<div class="header"></div>
	<div class="content">
		<div class="test">
			{% for item in ports %}
                <button class="testbutton" id="button{{item}}" style="background:#aaaaaa;">{{item}}</button>
            {% endfor %}
		</div>
        <div class="car_div">
            <button id="go" style="height:50px;width:210px;">GO</button><br>
            <button id="leftgo" style="height:50px;width:100px;">leftgo</button>
            <button id="rightgo" style="height:50px;width:100px;">rightgo</button>
            <br>
            <button id="leftback" style="height:50px;width:100px;">leftback</button>
            <button id="rightback" style="height:50px;width:100px;">rightback</button>
            <br>
            <button id="stop" style="height:50px;width:210px;">GO</button><br>            
        </div>
        <br>
        <div class="carcontrol">
            
        </div>
	</div>
    <script type="text/javascript">   
    function buttonid(num){
        return "#button"+Number(num);
    } 
   
    function showbuttoncolor(){
        $.get("/getstatus",function(data,status){
            data = data.slice(1,-1).split(",")
            $(".testbutton").css("background","#aaaaaa");
            console.log(data);           
            data.forEach(function(num){
                    $(buttonid(num)).css("background","#555555");
                    console.log(num+"changed");                    
                });                  
        });
    }


    $(document).ready(function(){
        for(var i=1;i<=Number({{maxport}});i++){
            (function(i){
                $(buttonid(i)).click(function(){
                    $.post("/changeport",{"port":i},function(data,status){
                        console.log(data);
                        console.log(status);               
                    });
                    showbuttoncolor();
                });  
            })(i);
        }   
        showbuttoncolor();
    });
    </script>    
</body>
</html>
